<div class="message">
  <div class="upper-message">
    <div class="message-user">
      <%= content.user.user_name %>さんより
      <%= content.content_title %>についての
      <% case content.content_type %>
      <% when "report" then %>
      報告があります
      <% when "communicate" then %>
      連絡があります
      <% when "consult" then %>
      相談があります
      <% end %>
    </div>
    <div class="message-date">
      <!-- 投稿した時刻を出力する -->
      <%= l content.created_at %>
    </div>
  </div>
  <div class="lower-message">
    <div class="message-content">
      <!-- 投稿したメッセージ内容を記述する -->
      <%= content.content_text %>
    </div>
  </div>
  <div class="reads">
    <% if current_user.read_by?(content.id) %>
      <%= link_to '未読にする', room_content_read_path(content.room_id, content.id, content), method: :DELETE %>
    <% else %>
      <%= link_to '既読', room_content_reads_path(content.room_id, content.id), method: :POST %>
    <% end %>
    <%= content.reads.count %>
    /
    <%= content.room.user_ids.count %>
  </div>
</div>
<div class="comment-wrapper">
  <div class="comments">
    <% content.comments.each do |c| %>
      <div class="comment">
        <%= c.comment_text %>
        <%= c.user.user_name %>
        <%= l c.created_at %>
      </div>
    <% end %>
  </div>
  <div class="comment-form">
    <%= form_with model: @comment, url: room_content_comments_path(params[:room_id], content.id), local: true do |f| %>
    <%= f.text_field :comment_text, placeholder: "コメント" %>
    <%= f.submit "SEND" %>
    <% end %>
  </div>
</div>