<%= render "shared/sign_in_modal" %>
<%= render "shared/sign_up_modal" %>

<div class="wrapper">

  <div class="side-bar">
    <%= render "shared/side_bar" %>
  </div>
  <div class="chat">
    <div class="chat-header">
      <div class="left-header">
        <div class="header-title">
          about Spinach
        </div>
      </div>
      <div class="right-header">
        <div class="header-button">
        </div>
      </div>
    </div>

    <div class="messages">
      <div class="content">
        <div class="user-avatar">
          <%= image_tag "spinach-logo.png", class: "spinach-logo-image" %>
        </div>
        <div class="communicate">
          <div class="upper-message">
            <div class="message-user">
              Spinachより
              Spinachについての
              連絡があります
            </div>
          </div>
          <div class="message-content">
            <p>Spinachは、"報連相をスムーズに行うこと"に特化したチャットアプリケーションです。</p>
            <br>
            <p>プロジェクト、チームごとに部屋を分けてコンテンツを投稿、</p>
            <p>"報告"、"連絡"、"相談"でコンテンツを分類、投稿時にに色分けすることで、</p>
            <p>視覚的に分かりやすく情報を受け取ることができます。</p>
            <br>
            <p>既読チェック機能がついているので、チームで情報共有ができているか、簡単に確認することができます。</p>
          </div>
          <div class="lower-message">
            <div class="message-date">
            </div>
            <div class="reads">
            </div>
            <span class="reads-count">
            </span>
          </div>


          
        </div>

        

      </div>
      <div class="comment-wrapper-about">
        <div class="comments">
            <div class="comment">
              <div class="comment-left">
                <div class="comment-user">
                  Spinach
                </div>
                <div class="comment-bottom">
                  <p class="comment-time">
                  </p>
                  <div class="comment-text">
                    このように
                  </div>
                </div>
              </div>
              <div class="comment-right">
                <div class="user-avatar">
                  <%= image_tag "spinach-logo.png", class: "spinach-logo-image" %>
                </div>
              </div>
            </div>
            <div class="comment">
              <div class="comment-left">
                <div class="comment-user">
                  Spinach
                </div>
                <div class="comment-bottom">
                  <p class="comment-time">
                  </p>
                  <div class="comment-text">
                    コメントを投稿して
                  </div>
                </div>
              </div>
              <div class="comment-right">
                <div class="user-avatar">
                  <%= image_tag "spinach-logo.png", class: "spinach-logo-image" %>
                </div>
              </div>
            </div>
            <div class="comment">
              <div class="comment-left">
                <div class="comment-user">
                  Spinach
                </div>
                <div class="comment-bottom">
                  <p class="comment-time">
                  </p>
                  <div class="comment-text">
                    簡単にディスカッションなどを
                  </div>
                </div>
              </div>
              <div class="comment-right">
                <div class="user-avatar">
                  <%= image_tag "spinach-logo.png", class: "spinach-logo-image" %>
                </div>
              </div>
            </div>
            <div class="comment">
              <div class="comment-left">
                <div class="comment-user">
                  Spinach
                </div>
                <div class="comment-bottom">
                  <p class="comment-time">
                  </p>
                  <div class="comment-text">
                    することもできます
                  </div>
                </div>
              </div>
              <div class="comment-right">
                <div class="user-avatar">
                  <%= image_tag "spinach-logo.png", class: "spinach-logo-image" %>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
    <div class="form">
    </div>
  </div>
  
</div>