<div class="chat-header">
  <div class="left-header">
    <div class="header-title">
      <%= @current_room.room_name %>
    </div>
  </div>
  <div class="right-header">
    <div class="header-button">
      <% if @current_room.user_ids.count > 1 %>
        <%= link_to room_room_user_path(params[:room_id], @room_user.ids), class: "room_user_destroy", method: :delete do %>
          <i class="far fa-times-circle"></i>
        <% end %>
      <% else %>
        <%= link_to room_path(params[:room_id]), class: "room_destroy", method: :delete do %>
          <i class="far fa-times-circle"></i>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<div class="messages">
  <div id="scroll-inner">
    <%= render partial: 'content', collection: @contents %>
  </div>
</div>

<%= form_with model: [@current_room, @content], class: 'form', local: true do |f| %>
  <div class="content-title-type-forms">
    <%= f.text_field :content_title, class: 'content-title-form' %>
    <span>についての</span>
    <div class="radio-buttons">
      <label><%= f.radio_button :content_type, "report" %>報告</label>
      <label><%= f.radio_button :content_type, "communicate" %>連絡</label>
      <label><%= f.radio_button :content_type, "consult" %>相談</label>
    </div>
  </div>
  <div class="form-input">
    <%= f.text_area :content_text, class: 'form-message' %>
    <%# <label class="form-image">
      <span class="image-file">画像</span> %>
      <%# <%= f.file_field :image, class: 'hidden' %>
    <%# </label> %>
    <%= f.button :type => "submit", style: 'border-style: none;', class: "form-submit" do %>
      <i class="fas fa-arrow-circle-up"></i>
    <% end %>
  </div>
<% end %>