<div class="side-bar-header">
  <% if user_signed_in? %>
    <div class="header-user">
      <div class="user-avatar">
        <i class="fas fa-user"></i>
      </div>
      <%= link_to current_user.user_name, "#", class: "header-user-name" %>
    </div>
    <%= link_to "ログアウト", destroy_user_session_path, class: "log-out-link", method: :delete %>
  <% else %>
    <%= link_to "ログイン", new_user_session_path, class: "log-in-link" %>
    <span>/</span>
    <%= link_to "新規登録", new_user_registration_path, class: "sign-in-link" %>
  <% end %>
</div>

<div class="side-bar-main">
  <% if user_signed_in? %>
    <% current_user.rooms.each do |room| %>
      <% if room.id == @room.id %>
        <div class="selected room">
          <div class="room-name">
            <%= link_to room_contents_path(room) do %>
              <i class="fas fa-door-open"></i>
              <%= room.room_name %>
            <% end %>
          </div>
        </div>
      <% else %>
        <div class="room">
          <div class="room-name">
            <%= link_to room_contents_path(room) do %>
              <i class="fas fa-door-closed"></i>
              <%= room.room_name %>
            <% end %>
          </div>
        </div>
      <% end %>
    <% end %>
    <div class="create-room">
      <%= link_to new_room_path do %>
        <i class="fas fa-plus"></i>
        <span>新しく部屋を作成する</span>
      <% end %>
    </div>
  <% end %>
</div>

<div class="side-bar-footer">
  <div class="logo-selected">
    <%= image_tag "spinach-logo.png", class: "spinach-logo-image" %>
    <h1 class="spinach-logo-character">Spinach</h1>
  </div>
  <% if current_page?(root_path) %>
    <%= link_to root_path, class: "selected-about-link" do %>
      <i class="far fa-question-circle"></i>
      <span>about Spinach</span>
    <% end %>
    <p></p>
    <%= link_to publics_contact_path, class: "contact-link"  do %>
      <i class="far fa-envelope"></i>
      <span>contact</span>
    <% end %>
  <% else %>
      <%= link_to root_path, class: "about-link" do %>
      <i class="far fa-question-circle"></i>
      <span>about Spinach</span>
    <% end %>
    <p></p>
    <%= link_to publics_contact_path, class: "selected-contact-link"  do %>
      <i class="far fa-envelope"></i>
      <span>contact</span>
    <% end %>
  <% end %>
</div>