<% if user_signed_in? %>
  <div class="side-bar-header">
    <%= link_to "#", class: "user-edit-link" do %>
      <% if current_user.avatar.attached? %>
        <%= image_tag current_user.avatar %>
        <%= current_user.user_name %>
      <% else %>
        <%= image_tag "default-avatar.png" %>
        <%= current_user.user_name %>
      <% end %>
    <% end %>
    <div class="log-out-link">
      <%= link_to destroy_user_session_path, method: :delete do %>
        <i class="fas fa-sign-out-alt"></i>
      <% end %>
    </div>
  </div>
<% else %>
  <div class="session-links">
    <button type="button" id="sign-in-modal-open-btn">ログイン</button>
    <button type="button" id="sign-up-modal-open-btn">新規登録</button>
  </div>
<% end %>

<div class="side-bar-main">
  <% if user_signed_in? %>
    <% current_user.rooms.each do |room| %>
      <% if room.id == @current_room.id %>
        <div class="selected room">
          <div class="room-name">
            <%= link_to room_contents_path(room) do %>
              <i class="fas fa-door-open"></i>
              <%= room.room_name %>
            <% end %>
          </div>
        </div>
      <% else %>
        <div class="room">
          <div class="room-name">
            <%= link_to room_contents_path(room) do %>
              <i class="fas fa-door-closed"></i>
              <%= room.room_name %>
            <% end %>
          </div>
        </div>
      <% end %>
    <% end %>
    <div class="create-room">
      <%= link_to new_room_path do %>
        <i class="fas fa-plus"></i>
        <span>新しく部屋を作成する</span>
      <% end %>
    </div>
  <% end %>
</div>

<div class="side-bar-footer">
  <div class="logo">
    <%= image_tag "spinach-logo.png", class: "spinach-logo-image" %>
    <h1 class="spinach-logo-character">Spinach</h1>
  </div>
  <% if current_page?(root_path) %>
    <div class="selected footer-link">
      <%= link_to root_path do %>
        <i class="far fa-question-circle"></i>
        <span>about Spinach</span>
      <% end %>
    </div>
    <div class="footer-link">
     <%= link_to publics_contact_path do %>
      <i class="far fa-envelope"></i>
      <span>contact</span>
     <% end %>
    </div>
  <% elsif current_page?(publics_contact_path) %>
    <div class="footer-link">
      <%= link_to root_path do %>
        <i class="far fa-question-circle"></i>
        <span>about Spinach</span>
      <% end %>
    </div>
    <div class="selected footer-link">
      <%= link_to publics_contact_path do %>
        <i class="far fa-envelope"></i>
        <span>contact</span>
      <% end %>
    </div>
  <% else %>
    <div class="footer-link">
      <%= link_to root_path do %>
        <i class="far fa-question-circle"></i>
        <span>about Spinach</span>
      <% end %>
    </div>
    <div class="footer-link">
     <%= link_to publics_contact_path do %>
      <i class="far fa-envelope"></i>
      <span>contact</span>
     <% end %>
    </div>
  <% end %>
</div>